# VITE_REVERB_CLUSTER=mt1 # If you use a specific cluster
# VITE_API_BASE_URL=https://web.controleobras.online/api
VITE_API_BASE_URL=http://127.0.0.1:8000/api

VITE_REVERB_APP_KEY=demo_key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8087  # Alterar de 8080 para 8087
VITE_REVERB_SCHEME=ws